<footer class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex  align-items-center">
                <p class="copy">&copy; 2033, All Rights Reserved</p>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Contact Us</button>
            </div>
        </div>
    </div>
</footer>